---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContentLayout from "../layouts/ContentLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import VADSImg from "../images/va/vads-cover.png";
import VestImg from "../images/vested/vested-cover.png";
import VAFCImg from "../images/va/vafc-cover.png";
import SOARImg from "../images/soarizon/soarizon-cover.png";
const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle}>
    <ContentLayout ariaLabel="Projects">
        <div class="hero-intro">
            <h1>Projects</h1>
            <p class="body-display text-centre large">
                Explore some of my wonderful projects
            </p>
        </div>
        <div>
            <ul class="card-wrapper">
                <ProjectCard
                    company="Virgin Atlantic"
                    title="Establishing a unified design system at the heart of Virgin Atlantic's brand"
                    url="/projects/vads"
                    imgRef={VADSImg}
                />
                <ProjectCard
                    company="Vested Impact"
                    title="Bringing a social impact algorithm to life, helping businesses track their impact"
                    imgRef={VestImg}
                />
                <ProjectCard
                    company="Virgin Atlantic"
                    title="Redefining the way customers oversee and interact with their loyalty account"
                    imgRef={VAFCImg}
                />
                <ProjectCard
                    company="SOARIZON by Thales"
                    title="Revitalizing the approach to mission planning for drone pilots to be more dynamic"
                    imgRef={SOARImg}
                />
            </ul>
        </div>
    </ContentLayout>
</BaseLayout>

<style>
    .card-wrapper {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
        grid-gap: 2rem;
    }
</style>
